:root{
        background-color: #252A34;
        background-size:contain;
       /* background-image: url("https://raw.githubusercontent.com/nxdun/BlaBla/12c556a97796736be3d561f885c102cf1019b6bb/paul-volkmer-qVotvbsuM_c-unsplash.jpg");*/
        background-repeat: no-repeat;
        background-size: cover;
} 